/**
 * This file is for any scss that you may want for this visualizer.
 */

.easy-dag {
  outline: none;

  .item-icon {
      fill: #90caf9;
      .icon {
          fill: #616161;
      }
      .icon.plus {
          transform: scale(0.5 0.5);
      }
  }
  svg {
      overflow: visible;
  }
  .button {
      .icon {
          fill: #616161;
      }
  }

  .background-text {
    font-size: xx-large;
    color: '#9e9e9e';
    fill: 'red';
    text-anchor: "middle";
  }

  .selection {
      .outline {
        opacity: 1;
        stroke-dasharray: "10,10";
        stroke-width: 1;
      }

      .buttons {
        .action {
          fill: "#aeaeae";
          width: 30;
          height: 30;
          rx: 10;
          ry: 10;
        }
      }
  }
}

#node-container {
    .easydag-node {
        margin: 5px;
    }
    .empty-msg {
        font-size: 1.5em;
        color: #9e9e9e;
        text-anchor: middle;
        text-align: center;
        font-style: italic;
    }
}
